[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
tensorflow-gpu = "2.8.0"
flask = "*"
pandas = "*"
requests = "*"
tqdm = "*"
argostranslate = "*"
langdetect = "*"

[dev-packages]

[requires]
python_version = "3.9"
